<div class="container">
  <div class="row">
    <h2></h2>
    <h3>Ingrédients </h3>
    <p *ngFor="let p of pizzaDetail$ | async ">
      {{p.description}}
      <br />
      <img src={{p.imgUrl}} alt={{p.nom}} class="card-img-top"
        data-src="holder.js/100px400?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
        alt="Thumbnail [100%x400]" class="detail-img">
      <button (click)="this.storeService.addToBasket(p)" class="btn btn-primary">Ajouter au panier</button>
    </p>
  </div>
</div>