<label class="label-search">Trouve ta pizza préférée </label>
<input [(ngModel)]="recherche" oninput="this.value = this.value.toUpperCase()" (ngModelChange)="valuechange($event)">
<br />

<div class="row">
  <div class="col-md-4" *ngFor="let p of catalogue| async; let index = index">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
        src={{p.imgUrl}}
        data-holder-rendered="true">
      <div class="card-body">
        <h2>{{p.nom}}</h2>
        <p class="card-text">{{p.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" (click)="this.storeService.addToBasket(p)" class="btn addBasket">Ajouter</button>
            <button type="button" [routerLink]="['/catalogue', index]" class="btn seeDetail">Détail</button>
          </div>
        </div>
      </div>
    </div>
  </div>